Data Pre-processing

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import matplotlib

Train Data

In [2]:
df1Train = pd.read_csv('CS559_S22_Project2_train.csv', index_col=0)

In [3]:
df1Train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
139,140,60,RL,65.0,15426,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,8,2009,WD,Normal
268,269,30,RM,71.0,6900,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal
859,860,60,RL,NaN,11029,Pave,NaN,IR1,Lvl,AllPub,...,222,0,NaN,NaN,NaN,0,8,2006,WD,Normal
670,671,60,RL,64.0,8633,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2009,WD,Normal
885,886,120,FV,50.0,5119,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,1,2008,CWD,Abnorml

In [4]:
price = pd.read_csv('Price_submission.csv')

In [5]:
price.head()

,Id,Actual_SalePrice,GP_Predict_SalePrice,RF/XGB_Predict_SalePrice,SVM_Predict_SalePrice,Stocked_Predict_SalePrice
0,1,208500,NaN,NaN,NaN,NaN
1,2,181500,NaN,NaN,NaN,NaN
2,3,223500,NaN,NaN,NaN,NaN
3,4,140000,NaN,NaN,NaN,NaN
4,5,250000,NaN,NaN,NaN,NaN

In [6]:
price1 = price.drop(['GP_Predict_SalePrice', 'RF/XGB_Predict_SalePrice', 'SVM_Predict_SalePrice',
            'Stocked_Predict_SalePrice'], axis='columns')

In [7]:
df1Train.shape

(1022, 80)

In [8]:
df2Train = df1Train.drop(['LotShape', 'Street', 'Alley', 'LandContour', 'LandSlope', 'BldgType', 'RoofStyle', 'RoofMatl', 
               'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 
               'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2', 'BsmtFinSF2', 
               'BsmtUnfSF', 'HeatingQC', 'Electrical', 'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 
               'KitchenQual', 'FireplaceQu', 'GarageYrBlt', 'GarageFinish', 'GarageQual', 'GarageArea',
               'GarageCond', 'EnclosedPorch', 'ScreenPorch', 'PoolQC', 'Fence', 'YrSold', 'MiscFeature',
               'Utilities', 'Condition2', 'HouseStyle', 'BedroomAbvGr', 'KitchenAbvGr', 'MoSold', 'SaleType',
               'GarageType', 'TotalBsmtSF', 'WoodDeckSF', 'OpenPorchSF', '3SsnPorch', 'LotFrontage', 
               'Functional', 'Fireplaces', 'YearBuilt', 'Heating'], axis='columns')

In [9]:
df2Train.head()

,Id,MSSubClass,MSZoning,LotArea,LotConfig,Neighborhood,Condition1,OverallQual,OverallCond,YearRemodAdd,...,1stFlrSF,2ndFlrSF,FullBath,HalfBath,TotRmsAbvGrd,GarageCars,PavedDrive,PoolArea,MiscVal,SaleCondition
139,140,60,RL,15426,Inside,CollgCr,Norm,6,5,1997,...,928,836,2,1,7,2,Y,0,0,Normal
268,269,30,RM,6900,Inside,IDOTRR,Norm,5,6,1955,...,778,0,1,0,4,1,Y,0,0,Normal
859,860,60,RL,11029,Corner,NWAmes,PosA,6,7,1984,...,1512,1142,2,1,9,2,Y,0,0,Normal
670,671,60,RL,8633,FR2,CollgCr,Norm,6,5,2005,...,738,738,2,1,7,2,Y,0,0,Normal
885,886,120,FV,5119,CulDSac,Somerst,Norm,9,5,2000,...,1709,0,2,0,5,2,Y,0,0,Abnorml

In [10]:
df2Train.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotArea', 'LotConfig', 'Neighborhood',
       'Condition1', 'OverallQual', 'OverallCond', 'YearRemodAdd',
       'CentralAir', '1stFlrSF', '2ndFlrSF', 'FullBath', 'HalfBath',
       'TotRmsAbvGrd', 'GarageCars', 'PavedDrive', 'PoolArea', 'MiscVal',
       'SaleCondition'],
      dtype='object')

In [11]:
df2Train['Neighborhood'].dtypes

dtype('O')

In [12]:
df3Train = df2Train.fillna(df2Train.mode().iloc[0])

In [13]:
df3Train['MSSubClass'] = pd.cut(x=df3Train['MSSubClass'], bins=[0, 50, 90, 190], labels=[40, 70, 160])
df3Train.head()

,Id,MSSubClass,MSZoning,LotArea,LotConfig,Neighborhood,Condition1,OverallQual,OverallCond,YearRemodAdd,...,1stFlrSF,2ndFlrSF,FullBath,HalfBath,TotRmsAbvGrd,GarageCars,PavedDrive,PoolArea,MiscVal,SaleCondition
139,140,70,RL,15426,Inside,CollgCr,Norm,6,5,1997,...,928,836,2,1,7,2,Y,0,0,Normal
268,269,40,RM,6900,Inside,IDOTRR,Norm,5,6,1955,...,778,0,1,0,4,1,Y,0,0,Normal
859,860,70,RL,11029,Corner,NWAmes,PosA,6,7,1984,...,1512,1142,2,1,9,2,Y,0,0,Normal
670,671,70,RL,8633,FR2,CollgCr,Norm,6,5,2005,...,738,738,2,1,7,2,Y,0,0,Normal
885,886,160,FV,5119,CulDSac,Somerst,Norm,9,5,2000,...,1709,0,2,0,5,2,Y,0,0,Abnorml

In [14]:
df3Train.replace({'MSZoning':{'RH':'R', 'RL':'R', 'RP':'R', 'RM':'R'}}, inplace=True)

In [15]:
df3Train.replace({'Neighborhood':{'BrkSide':'Other', 'SawyerW':'Other', 'Mitchel':'Other', 'Crawfor':'Other', 
                                  'IDOTRR':'Other', 'Timber':'Other', 'NoRidge':'Other', 'Veenker':'Other',
                                  'ClearCr':'Other', 'StoneBr':'Other', 'MeadowV':'Other', 'Blmngtn':'Other', 
                                  'BrDale':'Other', 'SWISU':'Other', 'NPkVill':'Other',
                                  'Blueste':'Other'}}, inplace=True)

In [16]:
df3Train.replace({'Condition1':{'Feedr':'Near Famous Street','Artery':'Near Famous Street',
                                'RRAn':'Near North-South Railroad','RRAe':'Near North-South Railroad',
                                'PosN':'Near Positive Offsite','PosA':'Near Positive Offsite',
                                'RRNn':'Near East West Railroad','RRNe':'Near East West Railroad'}}, inplace=True)

In [17]:
df3Train.replace({'LotConfig':{'FR2':'FR>=2','FR3':'FR>=2'}}, inplace=True)

In [18]:
df3Train['OverallQualandCond'] = df3Train['OverallQual'] + df3Train['OverallCond']

In [19]:
df3Train.drop(['OverallQual','OverallCond'], axis='columns', inplace=True)

In [20]:
df3Train['TotalSQFT'] = df3Train['1stFlrSF'] + df3Train['2ndFlrSF']

In [21]:
df3Train.drop(['1stFlrSF','2ndFlrSF'], axis='columns', inplace=True)

In [22]:
df3Train['TotalBath'] = df3Train['FullBath'] + (0.5)*df3Train['HalfBath']

In [23]:
df3Train.drop(['FullBath','HalfBath'], axis='columns', inplace=True)

In [24]:
df3Train.replace({'MSSubClass':{40:'MSSubClass40',70:'MSSubClass70', 160:'MSSubClass160'}}, inplace=True)

In [25]:
df3Train.replace({'PavedDrive':{'Y':'PavedDrive','P':'PartialPavedDrive', 'N':'GravelPavedDrive'}}, inplace=True)

In [26]:
df3Train.replace({'CentralAir':{'Y':'CentralAirPresent', 'N':'NoCentralAir'}}, inplace=True)

In [27]:
df3Train['MSSubClass'].value_counts()

MSSubClass40     531
MSSubClass70     353
MSSubClass160    138
Name: MSSubClass, dtype: int64

In [28]:
#Baggiing & Dummies (-1)
#MSSubClass 3, MSZoning 3 +, LotConfig 4 +, Neighborhood 10 +, Condition1 5 +, CentralAir 2 +, PavedDrive 3 +, SaleCondition 6 +

In [29]:
dummiesMSSubClass = pd.get_dummies(df3Train.MSSubClass)

In [30]:
dummiesMSZoning = pd.get_dummies(df3Train.MSZoning)

In [31]:
dummiesLotConfig = pd.get_dummies(df3Train.LotConfig)

In [32]:
dummiesNeighborhood = pd.get_dummies(df3Train.Neighborhood)

In [33]:
dummiesCondition1 = pd.get_dummies(df3Train.Condition1)

In [34]:
dummiesCentralAir = pd.get_dummies(df3Train.CentralAir)

In [35]:
dummiesPavedDrive = pd.get_dummies(df3Train.PavedDrive)

In [36]:
dummiesSaleCondition = pd.get_dummies(df3Train.SaleCondition)

In [37]:
merged = pd.concat([df3Train, dummiesMSSubClass, dummiesMSZoning, dummiesLotConfig, 
                   dummiesNeighborhood, dummiesCondition1, dummiesCentralAir, 
                   dummiesPavedDrive, dummiesSaleCondition], axis = 'columns')

In [38]:
merged.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotArea', 'LotConfig', 'Neighborhood',
       'Condition1', 'YearRemodAdd', 'CentralAir', 'TotRmsAbvGrd',
       'GarageCars', 'PavedDrive', 'PoolArea', 'MiscVal', 'SaleCondition',
       'OverallQualandCond', 'TotalSQFT', 'TotalBath', 'MSSubClass40',
       'MSSubClass70', 'MSSubClass160', 'C (all)', 'FV', 'R', 'Corner',
       'CulDSac', 'FR>=2', 'Inside', 'CollgCr', 'Edwards', 'Gilbert', 'NAmes',
       'NWAmes', 'NridgHt', 'OldTown', 'Other', 'Sawyer', 'Somerst',
       'Near East West Railroad', 'Near Famous Street',
       'Near North-South Railroad', 'Near Positive Offsite', 'Norm',
       'CentralAirPresent', 'NoCentralAir', 'GravelPavedDrive',
       'PartialPavedDrive', 'PavedDrive', 'Abnorml', 'AdjLand', 'Alloca',
       'Family', 'Normal', 'Partial'],
      dtype='object')

In [39]:
df4Train = merged.drop(['MSSubClass', 'MSZoning', 'LotConfig', 'Neighborhood', 'Condition1', 
            'CentralAir', 'PavedDrive', 'SaleCondition', 'AdjLand', 'PartialPavedDrive', 
            'NoCentralAir', 'Near East West Railroad', 'NWAmes', 'FR>=2', 'C (all)', 'MSSubClass160'], axis='columns' )

In [40]:
df4Train.columns

Index(['Id', 'LotArea', 'YearRemodAdd', 'TotRmsAbvGrd', 'GarageCars',
       'PoolArea', 'MiscVal', 'OverallQualandCond', 'TotalSQFT', 'TotalBath',
       'MSSubClass40', 'MSSubClass70', 'FV', 'R', 'Corner', 'CulDSac',
       'Inside', 'CollgCr', 'Edwards', 'Gilbert', 'NAmes', 'NridgHt',
       'OldTown', 'Other', 'Sawyer', 'Somerst', 'Near Famous Street',
       'Near North-South Railroad', 'Near Positive Offsite', 'Norm',
       'CentralAirPresent', 'GravelPavedDrive', 'Abnorml', 'Alloca', 'Family',
       'Normal', 'Partial'],
      dtype='object')

In [41]:
dfandPriceTrain = pd.merge(df4Train, price1, on='Id', how='inner')

In [42]:
dfandPriceTrain

,Id,LotArea,YearRemodAdd,TotRmsAbvGrd,GarageCars,PoolArea,MiscVal,OverallQualandCond,TotalSQFT,TotalBath,...,Near Positive Offsite,Norm,CentralAirPresent,GravelPavedDrive,Abnorml,Alloca,Family,Normal,Partial,Actual_SalePrice
0,140,15426,1997,7,2,0,0,11,1764,2.5,...,0,1,1,0,0,0,0,1,0,231500
1,269,6900,1955,4,1,0,0,11,778,1.0,...,0,1,1,0,0,0,0,1,0,120500
2,860,11029,1984,9,2,0,0,13,2654,2.5,...,1,0,1,0,0,0,0,1,0,250000
3,671,8633,2005,7,2,0,0,11,1476,2.5,...,0,1,1,0,0,0,0,1,0,173500
4,886,5119,2000,5,2,0,0,14,1709,2.0,...,0,1,1,0,1,0,0,0,0,328900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017,84,8892,1960,6,2,0,0,10,1065,1.5,...,0,1,1,0,0,0,0,1,0,126500
1018,1214,10246,2001,3,1,0,0,13,960,0.0,...,0,1,1,0,0,0,0,1,0,145000
1019,56,10175,1964,7,2,0,0,11,1425,2.0,...,0,1,1,0,0,0,0,1,0,180500
1020,772,8877,1951,6,2,0,0,9,1220,1.0,...,0,1,1,0,0,0,0,1,0,102000
1021,979,9450,1954,5,2,0,0,9,894,1.0,...,0,1,1,0,1,0,0,0,0,110000

In [43]:
dfandPriceTrain.var()

Id                           1.788572e+05
LotArea                      1.143953e+08
YearRemodAdd                 4.251734e+02
TotRmsAbvGrd                 2.610488e+00
GarageCars                   5.595834e-01
PoolArea                     2.079860e+03
MiscVal                      3.279575e+05
OverallQualandCond           2.826035e+00
TotalSQFT                    2.625382e+05
TotalBath                    4.146265e-01
MSSubClass40                 2.498615e-01
MSSubClass70                 2.263207e-01
FV                           4.213378e-02
R                            4.921789e-02
Corner                       1.446119e-01
CulDSac                      6.639149e-02
Inside                       2.017285e-01
CollgCr                      8.914651e-02
Edwards                      6.555102e-02
Gilbert                      5.531586e-02
NAmes                        1.281043e-01
NridgHt                      5.358317e-02
OldTown                      7.632765e-02
Other                        2.167324e-01
Sawyer                       5.009478e-02
Somerst                      5.704089e-02
Near Famous Street           7.795684e-02
Near North-South Railroad    2.852044e-02
Near Positive Offsite        2.014544e-02
Norm                         1.211659e-01
CentralAirPresent            6.046794e-02
GravelPavedDrive             6.131991e-02
Abnorml                      6.046794e-02
Alloca                       7.774121e-03
Family                       1.731927e-02
Normal                       1.452473e-01
Partial                      7.551018e-02
Actual_SalePrice             6.540971e+09
dtype: float64

In [44]:
dfandPriceTrain.drop(['Normal', 'Abnorml', 'Alloca', 'Family', 'Partial'], axis='columns', inplace=True) 

#Attribule SaleCondition did not have much variance, hence omitted.

In [45]:
yTrain = dfandPriceTrain['Actual_SalePrice']

In [46]:
xTrain = dfandPriceTrain.drop(['Id', 'Actual_SalePrice'], axis='columns')

In [47]:
xTrain

,LotArea,YearRemodAdd,TotRmsAbvGrd,GarageCars,PoolArea,MiscVal,OverallQualandCond,TotalSQFT,TotalBath,MSSubClass40,...,OldTown,Other,Sawyer,Somerst,Near Famous Street,Near North-South Railroad,Near Positive Offsite,Norm,CentralAirPresent,GravelPavedDrive
0,15426,1997,7,2,0,0,11,1764,2.5,0,...,0,0,0,0,0,0,0,1,1,0
1,6900,1955,4,1,0,0,11,778,1.0,1,...,0,1,0,0,0,0,0,1,1,0
2,11029,1984,9,2,0,0,13,2654,2.5,0,...,0,0,0,0,0,0,1,0,1,0
3,8633,2005,7,2,0,0,11,1476,2.5,0,...,0,0,0,0,0,0,0,1,1,0
4,5119,2000,5,2,0,0,14,1709,2.0,0,...,0,0,0,1,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017,8892,1960,6,2,0,0,10,1065,1.5,1,...,0,0,0,0,0,0,0,1,1,0
1018,10246,2001,3,1,0,0,13,960,0.0,0,...,0,0,1,0,0,0,0,1,1,0
1019,10175,1964,7,2,0,0,11,1425,2.0,1,...,0,0,0,0,0,0,0,1,1,0
1020,8877,1951,6,2,0,0,9,1220,1.0,1,...,0,0,0,0,0,0,0,1,1,0
1021,9450,1954,5,2,0,0,9,894,1.0,1,...,0,0,0,0,0,0,0,1,1,0

In [48]:
yTrain

0       231500
1       120500
2       250000
3       173500
4       328900
         ...
1017    126500
1018    145000
1019    180500
1020    102000
1021    110000
Name: Actual_SalePrice, Length: 1022, dtype: int64

Test Data

In [49]:
df1Test = pd.read_csv('CS559_S22_Project2_test.csv', index_col=0)

In [50]:
df1Test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
1448,1449,50,RL,70.0,11767,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,GdWo,NaN,0,5,2007,WD,Normal
247,248,20,RL,75.0,11310,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
741,742,20,RL,65.0,6768,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,GdPrv,NaN,0,5,2008,WD,Normal
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal
727,728,20,RL,64.0,7314,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2009,WD,Normal

In [51]:
price1

        Id  Actual_SalePrice
0        1            208500
1        2            181500
2        3            223500
3        4            140000
4        5            250000
...    ...               ...
1455  1456            175000
1456  1457            210000
1457  1458            266500
1458  1459            142125
1459  1460            147500

[1460 rows x 2 columns]

In [52]:
df1Test.shape

(438, 80)

In [53]:
df2Test = df1Test.drop(['LotShape', 'Street', 'Alley', 'LandContour', 'LandSlope', 'BldgType', 'RoofStyle', 'RoofMatl', 
               'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 
               'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2', 'BsmtFinSF2', 
               'BsmtUnfSF', 'HeatingQC', 'Electrical', 'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 
               'KitchenQual', 'FireplaceQu', 'GarageYrBlt', 'GarageFinish', 'GarageQual', 'GarageArea',
               'GarageCond', 'EnclosedPorch', 'ScreenPorch', 'PoolQC', 'Fence', 'YrSold', 'MiscFeature',
               'Utilities', 'Condition2', 'HouseStyle', 'BedroomAbvGr', 'KitchenAbvGr', 'MoSold', 'SaleType',
               'GarageType', 'TotalBsmtSF', 'WoodDeckSF', 'OpenPorchSF', '3SsnPorch', 'LotFrontage', 
               'Functional', 'Fireplaces', 'YearBuilt', 'Heating'], axis='columns')

In [54]:
df2Test.head()

,Id,MSSubClass,MSZoning,LotArea,LotConfig,Neighborhood,Condition1,OverallQual,OverallCond,YearRemodAdd,...,1stFlrSF,2ndFlrSF,FullBath,HalfBath,TotRmsAbvGrd,GarageCars,PavedDrive,PoolArea,MiscVal,SaleCondition
1448,1449,50,RL,11767,Inside,Edwards,Norm,4,7,2000,...,796,550,1,1,6,1,Y,0,0,Normal
247,248,20,RL,11310,Inside,NAmes,Norm,6,5,1954,...,1375,0,1,0,5,2,Y,0,0,Normal
741,742,20,RL,6768,Inside,Sawyer,Feedr,6,8,1996,...,912,0,1,0,5,1,Y,0,0,Normal
1,2,20,RL,9600,FR2,Veenker,Feedr,6,8,1976,...,1262,0,2,0,6,2,Y,0,0,Normal
727,728,20,RL,7314,Inside,CollgCr,Norm,7,5,2007,...,1232,0,2,0,6,2,Y,0,0,Normal

In [55]:
df2Test.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotArea', 'LotConfig', 'Neighborhood',
       'Condition1', 'OverallQual', 'OverallCond', 'YearRemodAdd',
       'CentralAir', '1stFlrSF', '2ndFlrSF', 'FullBath', 'HalfBath',
       'TotRmsAbvGrd', 'GarageCars', 'PavedDrive', 'PoolArea', 'MiscVal',
       'SaleCondition'],
      dtype='object')

In [56]:
df3Test = df2Test.fillna(df2Train.mode().iloc[0])

In [57]:
df3Test['MSSubClass'] = pd.cut(x=df3Test['MSSubClass'], bins=[0, 50, 90, 190], labels=[40, 70, 160])
df3Test.head()

,Id,MSSubClass,MSZoning,LotArea,LotConfig,Neighborhood,Condition1,OverallQual,OverallCond,YearRemodAdd,...,1stFlrSF,2ndFlrSF,FullBath,HalfBath,TotRmsAbvGrd,GarageCars,PavedDrive,PoolArea,MiscVal,SaleCondition
1448,1449,40,RL,11767,Inside,Edwards,Norm,4,7,2000,...,796,550,1,1,6,1,Y,0,0,Normal
247,248,40,RL,11310,Inside,NAmes,Norm,6,5,1954,...,1375,0,1,0,5,2,Y,0,0,Normal
741,742,40,RL,6768,Inside,Sawyer,Feedr,6,8,1996,...,912,0,1,0,5,1,Y,0,0,Normal
1,2,40,RL,9600,FR2,Veenker,Feedr,6,8,1976,...,1262,0,2,0,6,2,Y,0,0,Normal
727,728,40,RL,7314,Inside,CollgCr,Norm,7,5,2007,...,1232,0,2,0,6,2,Y,0,0,Normal

In [58]:
df3Test.replace({'MSZoning':{'RH':'R', 'RL':'R', 'RP':'R', 'RM':'R'}}, inplace=True)

In [59]:
df3Test.replace({'Neighborhood':{'BrkSide':'Other', 'SawyerW':'Other', 'Mitchel':'Other', 'Crawfor':'Other', 
                                  'IDOTRR':'Other', 'Timber':'Other', 'NoRidge':'Other', 'Veenker':'Other',
                                  'ClearCr':'Other', 'StoneBr':'Other', 'MeadowV':'Other', 'Blmngtn':'Other', 
                                  'BrDale':'Other', 'SWISU':'Other', 'NPkVill':'Other',
                                  'Blueste':'Other'}}, inplace=True)

In [60]:
df3Test.replace({'Condition1':{'Feedr':'Near Famous Street','Artery':'Near Famous Street',
                                'RRAn':'Near North-South Railroad','RRAe':'Near North-South Railroad',
                                'PosN':'Near Positive Offsite','PosA':'Near Positive Offsite',
                                'RRNn':'Near East West Railroad','RRNe':'Near East West Railroad'}}, inplace=True)

In [61]:
df3Test.replace({'LotConfig':{'FR2':'FR>=2','FR3':'FR>=2'}}, inplace=True)

In [62]:
df3Test['OverallQualandCond'] = df3Test['OverallQual'] + df3Test['OverallCond']

In [63]:
df3Test.drop(['OverallQual','OverallCond'], axis='columns', inplace=True)

In [64]:
df3Test['TotalSQFT'] = df3Test['1stFlrSF'] + df3Test['2ndFlrSF']

In [65]:
df3Test.drop(['1stFlrSF','2ndFlrSF'], axis='columns', inplace=True)

In [66]:
df3Test['TotalBath'] = df3Test['FullBath'] + (0.5)*df3Test['HalfBath']

In [67]:
df3Test.drop(['FullBath','HalfBath'], axis='columns', inplace=True)

In [68]:
df3Test.replace({'MSSubClass':{40:'MSSubClass40',70:'MSSubClass70', 160:'MSSubClass160'}}, inplace=True)

In [69]:
df3Test.replace({'PavedDrive':{'Y':'PavedDrive','P':'PartialPavedDrive', 'N':'GravelPavedDrive'}}, inplace=True)

In [70]:
df3Test.replace({'CentralAir':{'Y':'CentralAirPresent', 'N':'NoCentralAir'}}, inplace=True)

In [71]:
dummiesMSSubClassTest = pd.get_dummies(df3Test.MSSubClass)

In [72]:
dummiesMSZoningTest = pd.get_dummies(df3Test.MSZoning)

In [73]:
dummiesLotConfigTest = pd.get_dummies(df3Test.LotConfig)

In [74]:
dummiesNeighborhoodTest = pd.get_dummies(df3Test.Neighborhood)

In [75]:
dummiesCondition1Test = pd.get_dummies(df3Test.Condition1)

In [76]:
dummiesCentralAirTest = pd.get_dummies(df3Test.CentralAir)

In [77]:
dummiesPavedDriveTest = pd.get_dummies(df3Test.PavedDrive)

In [78]:
dummiesSaleConditionTest = pd.get_dummies(df3Test.SaleCondition)

In [79]:
mergedTest = pd.concat([df3Test, dummiesMSSubClassTest, dummiesMSZoningTest, dummiesLotConfigTest, 
                   dummiesNeighborhoodTest, dummiesCondition1Test, dummiesCentralAirTest, 
                   dummiesPavedDriveTest, dummiesSaleConditionTest], axis = 'columns')

In [80]:
mergedTest.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotArea', 'LotConfig', 'Neighborhood',
       'Condition1', 'YearRemodAdd', 'CentralAir', 'TotRmsAbvGrd',
       'GarageCars', 'PavedDrive', 'PoolArea', 'MiscVal', 'SaleCondition',
       'OverallQualandCond', 'TotalSQFT', 'TotalBath', 'MSSubClass40',
       'MSSubClass70', 'MSSubClass160', 'C (all)', 'FV', 'R', 'Corner',
       'CulDSac', 'FR>=2', 'Inside', 'CollgCr', 'Edwards', 'Gilbert', 'NAmes',
       'NWAmes', 'NridgHt', 'OldTown', 'Other', 'Sawyer', 'Somerst',
       'Near East West Railroad', 'Near Famous Street',
       'Near North-South Railroad', 'Near Positive Offsite', 'Norm',
       'CentralAirPresent', 'NoCentralAir', 'GravelPavedDrive',
       'PartialPavedDrive', 'PavedDrive', 'Abnorml', 'Alloca', 'Family',
       'Normal', 'Partial'],
      dtype='object')

In [81]:
df4Test = mergedTest.drop(['MSSubClass', 'MSZoning', 'LotConfig', 'Neighborhood', 'Condition1',
                          'CentralAir', 'PavedDrive', 'SaleCondition', 'PartialPavedDrive',
                          'NoCentralAir', 'Near East West Railroad', 'NWAmes', 'FR>=2', 'C (all)',
                          'MSSubClass160'], axis='columns')

In [82]:
df4Test.columns

Index(['Id', 'LotArea', 'YearRemodAdd', 'TotRmsAbvGrd', 'GarageCars',
       'PoolArea', 'MiscVal', 'OverallQualandCond', 'TotalSQFT', 'TotalBath',
       'MSSubClass40', 'MSSubClass70', 'FV', 'R', 'Corner', 'CulDSac',
       'Inside', 'CollgCr', 'Edwards', 'Gilbert', 'NAmes', 'NridgHt',
       'OldTown', 'Other', 'Sawyer', 'Somerst', 'Near Famous Street',
       'Near North-South Railroad', 'Near Positive Offsite', 'Norm',
       'CentralAirPresent', 'GravelPavedDrive', 'Abnorml', 'Alloca', 'Family',
       'Normal', 'Partial'],
      dtype='object')

In [83]:
price1 = price.drop(['GP_Predict_SalePrice', 'RF/XGB_Predict_SalePrice', 'SVM_Predict_SalePrice',
            'Stocked_Predict_SalePrice'], axis='columns')

In [84]:
dfandPriceTest = pd.merge(df4Test, price1, on='Id', how='inner')

In [85]:
dfandPriceTest

,Id,LotArea,YearRemodAdd,TotRmsAbvGrd,GarageCars,PoolArea,MiscVal,OverallQualandCond,TotalSQFT,TotalBath,...,Near Positive Offsite,Norm,CentralAirPresent,GravelPavedDrive,Abnorml,Alloca,Family,Normal,Partial,Actual_SalePrice
0,1449,11767,2000,6,1,0,0,11,1346,1.5,...,0,1,0,0,0,0,0,1,0,112000
1,248,11310,1954,5,2,0,0,11,1375,1.0,...,0,1,1,0,0,0,0,1,0,140000
2,742,6768,1996,5,1,0,0,14,912,1.0,...,0,0,1,0,0,0,0,1,0,142000
3,2,9600,1976,6,2,0,0,14,1262,2.0,...,0,0,1,0,0,0,0,1,0,181500
4,728,7314,2007,6,2,0,0,12,1232,2.0,...,0,1,1,0,0,0,0,1,0,194500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433,894,13284,1954,6,1,0,0,10,1383,1.0,...,1,0,1,0,0,0,0,1,0,165000
434,1274,11512,2006,5,1,0,0,13,1357,1.0,...,0,1,1,0,0,0,0,1,0,177000
435,131,14200,1966,8,2,0,0,13,2157,2.5,...,0,1,1,0,0,0,0,1,0,226000
436,755,7930,2005,5,2,0,0,14,1026,1.0,...,0,1,1,0,0,0,0,1,0,156000
437,299,11700,1968,7,2,0,0,12,1743,2.0,...,0,1,1,0,0,0,0,1,0,175000

In [86]:
dfandPriceTest.drop(['Normal', 'Abnorml', 'Alloca', 'Family', 'Partial'], axis='columns', inplace=True) 

#Attribule SaleCondition did not have much variance, hence omitted.

In [87]:
yTest = dfandPriceTest['Actual_SalePrice']

In [88]:
xTest = dfandPriceTest.drop(['Id', 'Actual_SalePrice'], axis='columns')

In [89]:
xTest

,LotArea,YearRemodAdd,TotRmsAbvGrd,GarageCars,PoolArea,MiscVal,OverallQualandCond,TotalSQFT,TotalBath,MSSubClass40,...,OldTown,Other,Sawyer,Somerst,Near Famous Street,Near North-South Railroad,Near Positive Offsite,Norm,CentralAirPresent,GravelPavedDrive
0,11767,2000,6,1,0,0,11,1346,1.5,1,...,0,0,0,0,0,0,0,1,0,0
1,11310,1954,5,2,0,0,11,1375,1.0,1,...,0,0,0,0,0,0,0,1,1,0
2,6768,1996,5,1,0,0,14,912,1.0,1,...,0,0,1,0,1,0,0,0,1,0
3,9600,1976,6,2,0,0,14,1262,2.0,1,...,0,1,0,0,1,0,0,0,1,0
4,7314,2007,6,2,0,0,12,1232,2.0,1,...,0,0,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433,13284,1954,6,1,0,0,10,1383,1.0,1,...,0,0,1,0,0,0,1,0,1,0
434,11512,2006,5,1,0,0,13,1357,1.0,0,...,0,0,0,0,0,0,0,1,1,0
435,14200,1966,8,2,0,0,13,2157,2.5,0,...,0,0,0,0,0,0,0,1,1,0
436,7930,2005,5,2,0,0,14,1026,1.0,1,...,0,0,0,0,0,0,0,1,1,0
437,11700,1968,7,2,0,0,12,1743,2.0,0,...,0,0,0,0,0,0,0,1,1,0

In [90]:
yTest

0      112000
1      140000
2      142000
3      181500
4      194500
        ...
433    165000
434    177000
435    226000
436    156000
437    175000
Name: Actual_SalePrice, Length: 438, dtype: int64

Model Building on Train Data

In [91]:
theta = 0.001

In [92]:
def corr(x1, x2, theta):
    k = np.zeros((x1.shape[0],x2.shape[0]))
    for i in range(x1.shape[0]):
        k[i,:] = np.exp(-np.sum(theta*(x1[i,:]-x2)**2, axis=1))
    return k

In [93]:
k = corr(df4Train.to_numpy(), df4Train.to_numpy(), theta)

In [94]:
def negLogLikelihood(theta):
    
    theta = 10**theta
    n = df4Train.to_numpy().shape[0]
    one = np.ones((n,1))
    
    K = corr(df4Train.to_numpy(), df4Train.to_numpy(), theta) + np.eye(n)*1e-9
    invK = np.linalg.inv(K)
    
    mean = (one.T@invK@yTrain.to_numpy())/(one.T@invK@one)
    
    var = (yTrain.to_numpy()-mean*one).T@invK@(yTrain.to_numpy()-mean*one)/n
    #1/n.(y-1.u).T.invK.(y-1.u)
    
    detK = np.linalg.det(K)
    
    lnLikeli = -(n/2)*np.log(var) - 0.5*np.log(detK)
    
    return lnLikeli.flatten()

In [95]:
lnLikelihood = negLogLikelihood(theta)

C:\Users\prith\AppData\Local\Temp\ipykernel_28816\2283623922.py:17: RuntimeWarning: invalid value encountered in log
  lnLikeli = -(n/2)*np.log(var) - 0.5*np.log(detK)

In [96]:
def measures(theta):
    
    theta = 10**theta
    n = df4Train.to_numpy().shape[0]
    one = np.ones((n,1))
    
    K = corr(df4Train.to_numpy(), df4Train.to_numpy(), theta) + np.eye(n)*1e-9
    invK = np.linalg.inv(K)
    
    mean = (one.T@invK@yTrain.to_numpy())/(one.T@invK@one)
    
    var = (yTrain.to_numpy()-mean*one).T@invK@(yTrain.to_numpy()-mean*one)/n
    #1/n.(y-1.u).T.invK.(y-1.u)
    
    return mean, var, invK

In [97]:
mean, var, invK = measures(theta)

In [98]:
meanArray = mean[0][0]*np.ones((df4Train.to_numpy().shape[0],1))
meanArray.shape
y = yTrain.to_numpy().reshape(-1,1)
y.shape

(1022, 1)

In [99]:
invK.shape

(1022, 1022)

In [100]:
def fit(x, y):
    
    x, y = df4Train, yTrain
    lBound, uBound = -3, 2
    
    lhd = lhs(dfTrain.to_numpy().shape[1], 10)
    
    initialPoints = (uBound-lBound)*lhd + lBound 
    
    bnds = Bounds(lBound*np.ones(dfTrain.to_numpy().shape[1]), uBound*np.ones(dfTrain.to_numpy().shape[1]))
    
    optPara = np.zeros((10,df4Train.to_numpy().shape[1]))
    optFn = np.zeros((10,1))
    
    for i in range(10):
        res = minimize(negLogLikelihood, initialPoints[i,:] , bounds = bnds)
        
        optPara[i,:] = res.x
        optFn[i,:] = res.fun
    
    theta = optPara[np.argmin(optFn)]
    #negLnLike = negLogLikelihood()
    
    return theta

In [101]:
newTheta = np.argmax(lnLikelihood)

In [102]:
newTheta

1

In [103]:
Corr = corr(df4Train.to_numpy(), df4Train.to_numpy(), theta)

In [104]:
Corr

array([[1.00000000e+000, 0.00000000e+000, 0.00000000e+000, ...,
        0.00000000e+000, 0.00000000e+000, 0.00000000e+000],
       [0.00000000e+000, 1.00000000e+000, 0.00000000e+000, ...,
        0.00000000e+000, 0.00000000e+000, 0.00000000e+000],
       [0.00000000e+000, 0.00000000e+000, 1.00000000e+000, ...,
        0.00000000e+000, 0.00000000e+000, 0.00000000e+000],
       ...,
       [0.00000000e+000, 0.00000000e+000, 0.00000000e+000, ...,
        1.00000000e+000, 0.00000000e+000, 0.00000000e+000],
       [0.00000000e+000, 0.00000000e+000, 0.00000000e+000, ...,
        0.00000000e+000, 1.00000000e+000, 4.35663227e-208],
       [0.00000000e+000, 0.00000000e+000, 0.00000000e+000, ...,
        0.00000000e+000, 4.35663227e-208, 1.00000000e+000]])

In [105]:
newCorr = corr(df4Train.to_numpy(), df4Test.to_numpy(), theta)

In [106]:
newCorr.shape

(1022, 438)

In [107]:
def predict(train, test):
    
    n = df4Train.to_numpy().shape[0]
    m = df4Test.to_numpy().shape[0]
    
    one = np.ones((n,1))
    
    k = newCorr + np.eye(n, m)*1e-9
    
    newMean = mean + k.T @ invK @ (y-meanArray)
    
    #newVar = var*(1 - np.diag(k.T @ invK @ k))
    
    return newMean

In [108]:
s = predict(df4Train, df4Test)

In [109]:
p = yTest.to_numpy()
p = p.reshape(-1,1)

In [110]:
rmseforGP = np.sqrt(np.mean((s-p)**2))
rmseforGP

75864.08418434154

In [111]:
p.shape

(438, 1)

In [112]:
yTest

0      112000
1      140000
2      142000
3      181500
4      194500
        ...
433    165000
434    177000
435    226000
436    156000
437    175000
Name: Actual_SalePrice, Length: 438, dtype: int64

In [113]:
yTrain

0       231500
1       120500
2       250000
3       173500
4       328900
         ...
1017    126500
1018    145000
1019    180500
1020    102000
1021    110000
Name: Actual_SalePrice, Length: 1022, dtype: int64

In [114]:
yTest.max()

755000

In [115]:
yTest.min()

34900

In [116]:
normalizedRMSEGP = rmseforGP/(yTest.max()-yTest.min())

In [117]:
normalizedRMSEGP

0.10535215134612073

XG Boost

In [118]:
import xgboost
from xgboost import XGBRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold

In [119]:
xTrain = df4Train.to_numpy()
yTrain1 = yTrain.to_numpy()

In [120]:
model = XGBRegressor()

model.fit(xTrain, yTrain1)

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=100, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, ...)

In [121]:
cv = RepeatedKFold(n_splits=10, n_repeats=5, random_state=1)

scores = cross_val_score(model, xTrain, yTrain1, scoring="neg_mean_squared_error", cv=cv, n_jobs=-1)
scores = np.absolute(scores.mean())

In [122]:
yPred = model.predict(df4Test)

In [123]:
rmseforXGB = np.sqrt(np.mean((yPred-yTest)**2))
rmseforXGB

35292.95875091242

In [124]:
normalizedRMSEXGB = rmseforXGB/(yTest.max()-yTest.min())

In [125]:
normalizedRMSEXGB

0.049011191155273456

SVR

In [126]:
from sklearn.svm import SVR

In [127]:
model2 = SVR(kernel= 'rbf')

In [128]:
model2.fit(xTrain, yTrain1)

SVR()

In [129]:
yPred = model2.predict(df4Test)

C:\Users\prith\anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SVR was fitted without feature names
  warnings.warn(

In [130]:
rmseforSVR = np.sqrt(np.mean((yPred-yTest)**2))
rmseforSVR

77754.37636893663

In [131]:
normalizedRMSESVR = rmseforSVR/(yTest.max()-yTest.min())

In [132]:
normalizedRMSESVR

0.10797719256899962

Emsemble Model with Linear Regression as Meta Learner

In [133]:
from sklearn.ensemble import StackingRegressor
from sklearn.linear_model import LinearRegression

In [134]:
def getStacking():
    level0 = []
    level0.append(('XGR', XGBRegressor()))
    level0.append(('SVR', SVR()))
    
    level1 = LinearRegression()
    
    model = StackingRegressor(estimators=level0, final_estimator= level1, cv=5)
    
    return model

In [135]:
def evaluate_model(model, X, y):
    cv = RepeatedKFold(n_splits=10, n_repeats=5, random_state=1)
    scores = cross_val_score(model, X, y, scoring='neg_root_mean_squared_error', cv=cv)
    return scores

In [136]:
scores = evaluate_model(model, df4Test , yTest)

In [137]:
rmseStacking = -scores.mean()
rmseStacking

41134.41686761778

In [138]:
normalizedRMSEStacking = rmseStacking/(yTest.max()-yTest.min())

In [139]:
normalizedRMSEStacking

0.05712320076047463